.dropdown {
    position: relative;
}

.dropdown-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-button-label {

} 

.dropdown-button-icon {

}

.dropdown-option {
    position: absolute;
    top: 30px;
    background-color: red;
}

.dropdown-option-item {

}