:host {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-title {
    font-size: 2rem;
    font-weight: 600;
}

.form-submit {
    padding: 28px;
}