<div mat-dialog-title>
    <span *ngIf="!isEdit">Add new feature</span>
    <span *ngIf="isEdit">Edit feature</span>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<mat-dialog-content>
    <form class="form" [formGroup]="form">
        <mat-form-field class="form-field" appearance="outline" floatLabel="always">
            <mat-label>feature name</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close [disabled]="isLoading">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="isLoading">Save</button>
</mat-dialog-actions>
