<mat-toolbar class="navbar">
  <span>Zettabyte</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div class="table-container">
  <div class="demo-button-container">
    <mat-form-field class="search">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button (click)="openDialog()" class="demo-button">
      Add data
    </button>
    <button  mat-raised-button (click)="importCSV()">
      Import
    </button>
    <button  mat-raised-button>
      Export
    </button>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="ref_id">
      <th mat-header-cell *matHeaderCellDef>Ref Id</th>
      <td mat-cell *matCellDef="let element">{{element.ref_id}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="section">
      <th mat-header-cell *matHeaderCellDef>Section</th>
      <td mat-cell *matCellDef="let element">{{element.section}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="bug_description">
      <th mat-header-cell *matHeaderCellDef>Bug Description</th>
      <td mat-cell *matCellDef="let element">{{element.bug_description}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Jira Link</th>
      <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
    </ng-container>

     <!-- Symbol Column -->
    <ng-container matColumnDef="jira">
      <th mat-header-cell *matHeaderCellDef>Reporter</th>
      <td mat-cell *matCellDef="let element">{{element.jira}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="reprted_date">
      <th mat-header-cell *matHeaderCellDef>Reporter Date</th>
      <td mat-cell *matCellDef="let element">{{element.reprted_date}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef>Severity</th>
      <td mat-cell *matCellDef="let element">{{element.severity}}</td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="due_date">
      <th mat-header-cell *matHeaderCellDef>Due Date</th>
      <td mat-cell *matCellDef="let element">{{element.due_date}}</td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="dev_type">
      <th mat-header-cell *matHeaderCellDef>Dev Type</th>
      <td mat-cell *matCellDef="let element">{{element.dev_type}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="eta">
      <th mat-header-cell *matHeaderCellDef>ETA</th>
      <td mat-cell *matCellDef="let element">{{element.eta}}</td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="actual">
      <th mat-header-cell *matHeaderCellDef>ACTUAL</th>
      <td mat-cell *matCellDef="let element">{{element.actual}}</td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="developer">
      <th mat-header-cell *matHeaderCellDef>Developer</th>
      <td mat-cell *matCellDef="let element">{{element.developer}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100"
               [pageSize]="10"
               aria-label="Select page">
</mat-paginator>
</div>