.navbar {
    background-color: #4A93D6;
    color: white
}

.example-spacer {
    flex: 1 1 auto;
  }
  .demo-table {
    width: 100%;
  }
  .demo-button-container {
    padding-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
  }
/*   
  .demo-button + .demo-button {
    margin-left: 8px;
  } */

  .table-container{
    padding: 16px;
  }
  
  .search {
    height: 45px;
    margin-right: auto;
  }